.attribution {
    display: flex;
    justify-content: center;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#summary {
    margin: 20px 20px;
}

#result {
    border-radius: 50px;
    background-color: #6340fc;
    height: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
}
.result-motivation{
    color: #D8CBFF;
    text-align: center;
}

#result-score-1{
    font-size: 2em;
    color: white;
    font-weight: bolder;
}

#result-score-2{
    color: #D8CBFF;
    font-size: medium;
    margin-top: -25px;
}

#result-score {
    width: 8em;
    height: 8em;
    text-align: center;
    border-radius: 100%;
    background-color: #4A23CC;
}

#result-caption {
    text-align: center;
    color: #D8CBFF;
    font-weight: bolder;
    font-size: 30px;
}