.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: #D8CBFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#result {
    text-align: center;
    box-shadow: 14em 0em white;
    border-radius: 50px;
    background-color: #6340fc;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
}

#result-motivation {
    color: #D8CBFF;
    text-align: center;
}

#result-score-1 {
    font-size: 4em;
    color: white;
    font-weight: bolder;
}

#result-score-2 {
    color: #d8cbff69;
    font-size: medium;
 }

#result-score {
    width: 8em;
    height: 8em;
    text-align: center;
    border-radius: 100%;
    background-color: #4A23CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result-caption {
    text-align: center;
    color: #D8CBFF;
    font-size: 30px;
}

#summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    width: 12em;
}

#Reaction {
    height: 2em;
    background-color: rgba(255, 0, 0, 0.400);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

#Memory {
    height: 2em;
    margin-top: 20px;
    background-color: rgba(255, 166, 0, 0.400);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

#Verbal {
    height: 2em;
    margin-top: 20px;
    background-color: rgba(144, 238, 144, 0.400);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

#Visual {
    height: 2em;
    margin-top: 20px;
    background-color: rgba(137, 43, 226, 0.400);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

#btn-continue {
    background-color: #4e495e;
    color: white;
    margin-top: 2em;
    border-radius: 20px;
    text-align: center;
    height: 3em;

}

#btn-continue:hover{
    background-color: #6340fc;
    border-color: #6340fc;
}

.score {
    color: black;
    font-weight: bolder;
    font-size: larger;
    text-align: right;
}

.allpoints {
    color: rgba(0, 0, 0, 0.500);
    font-weight: bolder;
    font-size: larger;
}

#summary-caption{
    font-size: x-large;
    text-align: left;
}

#result-motivation-caption{
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width:600px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #result {
        text-align: center;
        box-shadow: 0em 25em white;
        border-radius: 50px;
        background-color: #6340fc;
        height: 30em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20em;
    }

    #summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        width: 15em;
    }

    .attribution {
     margin-top: 3em;
     
    }
}